.bear {
  width: 300px;
  height: 200px;
  background: palevioletred url(../images/bear.jpg) no-repeat top left/5px 5px;
  animation: mymove 10s infinite;
}
@keyframes mymove {
  50% {
    background: rgb(153, 25, 47) bottom right/1000px 800px;
    margin-left: 150px;
  }
}
